* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Neue', cursive;
}

.note {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.note>div {
    width: 110px;
    height: 110px;
    margin: 20px;
    padding: 70px;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

p {
    text-align: center;
    font-size: 14px;
    padding: 1px;
}

.note>div {
    box-shadow: 6px 6px 6px -6px gray;
    transition: .7s linear;
}

.note>div:nth-child(1) {
    transform: rotate(10deg) translateX(30%);
    background-color: rgb(253, 247, 216);
}

div:nth-child(2) {
    transform: rotate(5deg) translateX(30%);
    background-color: rgba(195, 255, 203, 0.842);
}

div:nth-child(3) {
    transform: rotate(-10deg) translateX(30%);
    background-color: rgb(252, 193, 220);
}

div:nth-child(4) {
    background-color: rgb(215, 235, 250);
    transform: rotate(-10deg) translateX(30%);
}

div:nth-child(5) {
    transform: rotate(10deg) translateX(30%);
    background-color: rgb(241, 213, 239);
}

.note>div:hover {
    margin-top: 50vh;
    transform: scale(1.5);
    overflow: hidden;
}